body {
    margin: 0;
    padding: 0;
    background: #ebf0f4;
    text-align: center;
}
h1 {
    margin: 0;
    font-weight: 500;
    letter-spacing: 1px;
    font: 300 23px/1.7 'Open Sans', sans-serif;
}

h3 {
    margin: 0;
    letter-spacing: 1px;
    font: 300 21px/1.7 'Open Sans', sans-serif;
    margin-bottom: 15px;
}

h5 {
    margin: 0;
    letter-spacing: 1px;
    font: 300 16px/1.7 'Open Sans', sans-serif;
}

.header {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: #39434e;
    color: #f0f5f7;
    font: 300 'Open Sans', sans-serif;
    text-align: center;
    z-index: 10;
    padding: 30px;
    border-radius: 40px 40px 0 0;
}
section {
  margin: 0 auto;
  margin-top: 50px;
  width: 400px;

}
.content {
    text-align: center;
    margin: 30px;
}
input::-webkit-input-placeholder {
    padding: 0 10px;
    font: 300 18px/1.7 'Open Sans', sans-serif;

}

button {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #f98241;
    color: white;
    margin: 0 auto;
    text-align: center;
    border: none;
    font-size: 1em;
    padding: 25px;
    width: 96%;
    margin: 2%;
    border-radius: 40px;

}

.main-content {
    /* padding:4px; */
    margin-top: 100px !important;
    margin: 0 auto;
    width: 400px;
    left: 0;
    right: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 40px;
    background-color: white;
}

/* Input Stying */
input:focus {
    outline:none;
}

/* Progress Stuff */
#progress-bar {
    width: 100%;
    margin-top: 48px
}

#progress {
    width: 0%;
    padding: 3% 0px;
    height: 100%;
    border-radius: 0 20px 20px 0;
    background: #f98241;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#progress p {
    display: inline;
    color: #39434e;
    font-family: 'Open Sans';
    font-weight: bold;
    padding: 0px;
    text-align: left;
    margin-left: 20px
}

/*Radio Button Stuff */
.form-radio, .form-checkbox
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #f1f1f1;
     color: #666;
     top: 10px;
     height: 30px;
     width: 30px;
     border: 0;
     border-radius: 50px;
     cursor: pointer;     
     margin-right: 7px;
     outline: none;
}
.form-radio:checked::before, .form-checkbox:checked::before
{
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 11px;
     top: 7px;
     content: '\02143';
     transform: rotate(40deg);
}
.form-radio:hover, .form-chekcbox:hover
{
     background-color: #f7f7f7;
}
.form-radio:checked, .form-checkbox:checked
{
     background-color: #f1f1f1;
}

label
{
     font: 300 16px/1.7 'Open Sans', sans-serif;
     color: #666;
     cursor: pointer;
} 

.radio-table {
    width: 100%;
}


/*Settings Icon*/

#settings-btn {
    background: #39434e;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 12px;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.fa-sliders-h {
    color: white;
    font-size: 20px;
}

/* Settings Stuff  */
.settings {
    display: none;
}
.settings-overlay {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: rgb(57,67,78);
    opacity: .75;
    display: block;
}

.settings .main-content {
    position: absolute;
    top: 0;
    background: white;
    z-index: 9;
    opacity: 1;
    height: 550px;
}

.settings .content {
    text-align: left;
    overflow: scroll;
    height: 470px;
    margin: 0 auto;
    padding: 0px 6% 3% 6%;
    border-radius: 40px

}

.btn-abs {
    position: absolute;
}

.btn {
    margin: 0 auto;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font: 300 22px/1.7 'Open Sans', sans-serif;
    color: white;
}

.cancel-btn {
    right: 10px;
    width: 23px;
    height: 23px;
    padding: 12px;
}

.cancel-btn .fa-times{
    font-size: 14pt;
    position: absolute;
    top: 15px;
    right: 0px;
    left: 0px;
}

.add-server {
    display: inline-block;
    width: 23px;
    height: 23px;
    padding: 12px;
    margin:10px;
}

.add-server .fa-plus{
    position: relative;
    top: -7px;
    right: 10px;
    left: 2px;
}

.remove-server {
    display: inline-block;
    width: 23px;
    height: 23px;
    padding: 12px;
    margin:10px;
}

.remove-server .fa-minus{
    position: relative;
    top: -6px;
    right: 10px;
    left: 2px;
}

.success {
    background: #3c763d;
}

.failure {
    background: #a94442;
}
.save-btn {
    right: 65px;
    padding: 12px;
    width: 23px;
    height: 23px;
    padding: 12px;
}

.save-btn .fa-check {
    font-size: 14pt;
    position: absolute;
    top: 15px;
    right: 0px;
    left: 0px;
}

.settings h1 {
    display: inline-block;
}
.settings .cancel-btn p{
    margin: 0;
    margin-top: -8px;
    margin-left: -1px;
}

.settings-text, .settings input[type="password"] {
    background: #f1f1f1;
    border-radius: 20px;
    height: 40px;
    margin: 0;
    width: 95%;
    margin-top: 5px;
    margin-bottom: 35px;
    text-align:left;
    padding-left:5%;
    border: none;
    font: 300 22px/1.7 'Open Sans', sans-serif;

}

.settings .main-content {
    margin-top: 30px !important;
    height: inherit
}

/* Scrollbar Settings */

::-webkit-scrollbar {
    margin-right: -3%;
    width: 5px;
  }
::-webkit-scrollbar-thumb {
    background: #39434e !important
}
::-webkit-scrollbar-corner {
    display: none;
}