body {
    margin: 0;
    padding: 0;
    background: #ebf0f4;
    text-align: center;
}
h1 {
    margin: 0;
    letter-spacing: 1px;
    font: 300 23px/1.7 'Open Sans', sans-serif;
}
div.header {
    background: #39434e;
    color: #f0f5f7;
    font: 300 'Open Sans', sans-serif;
    text-align: center;
    padding: 25px;
}
section {
  margin: 0 auto;
  margin-top: 50px;
  width: 400px;

}
div.content {
    text-align: center;
    background-color: white;
    padding: 30px;
}
input::-webkit-input-placeholder {
    padding: 0 10px;
    font: 300 18px/1.7 'Open Sans', sans-serif;

}
input[type="text"] {
    border: none;
    width: 80%;
    height: 20px;
    text-align:center;
    margin: 10%;
    font: 300 22px/1.7 'Open Sans', sans-serif;

}

button {
    background-color: #f98241;
    color: white;
    margin: 0 auto;
    text-align: center;
    border: none;
    font-size: 1em;
    padding: 25px;
    width: 400px;
}

#content {
    margin: 0 auto;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Input Stying */
input:focus {
    outline:none;
}

/* Progress Stuff */
#progress-bar {
    width: 100%;
    margin-top: 48px
}

#progress {
    width: 0%;
    padding: 3% 0px;
    height: 100%;
    background: #f98241;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#progress p {
    display: inline;
    color: #39434e;
    font-family: system-ui;
    font-weight: bold;
    padding: 0px;
    text-align: left;
    margin-left: 20px
}

/*Radio Button Stuff */
.form-radio
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #f1f1f1;
     color: #666;
     top: 10px;
     height: 30px;
     width: 30px;
     border: 0;
     border-radius: 50px;
     cursor: pointer;     
     margin-right: 7px;
     outline: none;
}
.form-radio:checked::before
{
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 11px;
     top: 7px;
     content: '\02143';
     transform: rotate(40deg);
}
.form-radio:hover
{
     background-color: #f7f7f7;
}
.form-radio:checked
{
     background-color: #f1f1f1;
}
label
{
     font: 300 16px/1.7 'Open Sans', sans-serif;
     color: #666;
     cursor: pointer;
} 

.radio-table {
    width: 100%;
}

td {
    padding: 20px 0px 30px 0px;
}

/*Settings Icon*/

#settings-container {
    background: #39434e;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 12px;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.fa-sliders-h {

    color: white;
    font-size: 20px;
}